.CharactertIttem {
    padding: 20px 0;
}

.imageCharacter {
    border-radius: 10px;
    min-width: 305px;
    width: 100%;
}


.toAdd img {
    width: 40px;
    height: 40px;
}

@media (max-width: 750px) {
    .imageCharacter {
        min-width: 140px;
        width: 100%;
    }

    .toAdd img {
        width: 25px;
        height: 25px;
    }
    

}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-info p:nth-child(1) {
    font-weight: bold;
    margin: 5px 0;
}

.character-info p:nth-child(2) {
   margin: 0;
}

.pointer {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}



