.grid-characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.no-results {
    text-align: center;
    margin: 235px 0;
}

@media (max-width: 720px) {
    .grid-characters {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
    }
}