@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

h1, h2, h3, h4, p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
}

nav {
    background-color: rgb(229, 250, 250);
    padding: 20px;
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
    -webkit-box-shadow: 2px 0px 18px 3px #B8B8B8; 
    box-shadow: 2px 0px 18px 3px #B8B8B8;
}

.navBar {
 
    margin: 0 auto;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    
}

.Left-Side {
    display: flex;
    gap: 20px;
}

.enlaceTitulo {
    display: flex;
    align-items: center;
}

.Logo {
    text-transform: uppercase;
}

.enlaces {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.Rigth-Side {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Rigth-Side input {
    padding: 7px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
}


.Rigth-Side div {
    display: flex;
    align-items: center;
}

.Rigth-Side img {
    width: 32px;
    cursor: pointer;
 } 

 .Rigth-Side p {
    background-color: red;
    color: #FFF;
    padding: 2px;
    font-size: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
 } 

.Menu {
    display: none;
}

.Menu img { 
    width: 55px;
}


@media (max-width: 800px) {
    .enlaces, .Rigth-Side input {
        display: none;
    }

    .Menu {
       display: flex;   
       cursor: pointer;
    }
    
}

