@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

p {
    font-family: 'Open Sans', sans-serif;
}

.mobile-menu {
    padding: 25px;
    position: fixed;
    top: 95px;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid gray;
    background-color: #ffffff;
    animation: swipeDown 0.26s ease;
}

.mobile-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.mobile-menu ul {
    padding: 0;
    margin-top: 24px;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid gray;
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

ul input {
    padding: 7px;
    border: 1px solid gray;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
}

@keyframes swipeDown {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@media (min-width: 800px) {
    .mobile-menu {
        display: none;
    }
}